<h2>Filtering and sorting</h2>

<%= form_with url: products_path, method: :get do |f| %>

  <%= f.submit "Filter", class: "w-100 btn btn-outline-secondary btn-lg" %>
  <%= link_to "Clear", home_path, class: "btn w-100 btn-secondary mt-2" %>

  <%= render partial: 'number_sort', locals: { f: f, attr: :price } %>
  <%= render partial: 'number_sort', locals: { f: f, attr: :year } %>

  <div class="row">
    <div class="col-6">
      <h4>Brand</h4>
      <%= f.collection_check_boxes :brand, uniq_brand, :brand, :brand do |b| %>
        <div>
          <%= b.check_box checked: checked?(b, :brand) %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <h4>Category</h4>
      <%= f.collection_check_boxes :category, uniq_category, :category, :category do |b| %>
        <div>
          <%= b.check_box checked: checked?(b, :category) %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <h4>Manufacturer</h4>
      <%= f.collection_check_boxes :manufacturer, uniq_manufacturer, :manufacturer, :manufacturer do |b| %>
        <div>
          <%= b.check_box checked: checked?(b, :manufacturer) %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>

  <%= f.submit "Filter", class: "w-100" %>
<% end %>
