<h2>Filtering and sorting</h2>

<h4>Brand</h4>

<%= form_with url: products_path, method: :get do |f| %>

  <%# brands_list(@products).each do |brand| %>
  <!--    <div>-->
  <%#= f.check_box "brand[]", { checked: checked?(brand, brand) }, brand, "" %>
  <%#= f.label brand %>
  <!--    </div>-->
  <%# end %>

  <%= f.collection_check_boxes :brand, uniq_brand, :brand, :brand do |b| %>
    <div>
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>

  <%= f.submit %>

<% end %>